div
  .jumbotron
    .container
      //- video#vid(muted='', onended='VM.play();', loop='', autobuffer='', preload='auto', oncontextmenu='return false', data-tag='', style='height: 841px; width: 1494px; top: -121px; left: 0px; opacity: 1; visibility: visible;', src='//az29176.vo.msecnd.net/videocontent/CapePenguins_CorbisMotionRF_15JR287_272_1080_HD_EN-US.mp4')
      h1(translate='') COMMON.MESSAGE.INTRO.TITLE
      p(translate='') COMMON.MESSAGE.INTRO.MESSAGE