div
  table.table
    thead
      tr
        th(translate='') COMMON.TERM.COLUMN.OPERATION
        th(translate='') COMMON.TERM.COLUMN.DESCRIPTION
        th(translate='') COMMON.TERM.COLUMN.JSON
    tbody
      tr(ng-repeat='operation in vm._operations')
        td
          a(href='', ui-sref='api.operation({ method: operation.method, uri: operation.uri })')
            | {{ operation.method }} {{ operation.uri }}
        td
          | {{ operation.summary }}
          br
          | {{ operation.description }}
        td
          json-formatter(json='operation')