@charset "utf-8";


@font-face {
  font-family: 'Supercell-Magic';
  src: url('../assets/fonts/Supercell-Magic.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/Supercell-Magic.woff') format('woff'), url('../assets/fonts/Supercell-Magic.ttf')  format('truetype'), url('../assets/fonts/Supercell-Magic.svg#Supercell-Magic') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'Supercell-Magic';
}


/* light blue */
$background-color: #75caeb;
$border-color: #5fc1e8;

/* orange */
$background-color: #ff851b;
$border-color: #ff7701;

/* blue */
$background-color: #158cba;
$border-color: #127ba3;

/* green */
$background-color: #28b62c;
$border-color: #23a127;

// injector
.hv4n6x3 {
    @import "controllers/main.controller.scss";
}

.fmx1zaw {
    @import "controllers/wrap.controller.scss";
}

.b8td5nd {
    @import "directives/header.directive.scss";
}

.ddiepj2 {
    @import "directives/intro.directive.scss";
}

.dhobae1 {
    @import "directives/markdown-content.directive.scss";
}

.hy5kh1n {
    @import "directives/naver-map.directive.scss";
}

.b80zv2e {
    @import "directives/nmap.directive.scss";
}

.elgt23r {
    @import "directives/table-of-contents.directive.scss";
}

.dyn6i9 {
    @import "directives/treeview.directive.scss";
}

.m7n5yv {
    @import "services/api-spec-import-modal.controller.scss";
}

.ccottdu {
    @import "templates/switch-checkbox.template.scss";
}

// endinjector

// themeinjector
// endthemeinjector