div
  br
  .row
    //- .col-sm-6
      //- img(src='http://www.alunagames.com/wp-content/uploads/2016/02/Clash-Royale-Hack-Proof-577x1024.jpg')
    .col-sm-6
      h1 Dalmuti
      h1 Luke Skywalker jedi
      .level
        i.fa.fa-certificate
        .txt 37

      .panel.panel-default
        .panel-heading title
        .panel-body
          | content


      img(src='/assets/img/button.png')

      table
        tr
          td

            img(src='/assets/img/red-button.png')
          td
            button.bttn.bttn-default
              span Select
            button.bttn.bttn-danger
              span Cancel
            button.bttn.bttn-warning
              span Battle
            button.bttn.bttn-primary
              span Close
            button.bttn.bttn-success
              span Upgrade
            button.bttn.bttn-default
              span Cha Yun Ho

            br

      .btn-special(ng-click='vm.message()') Battle

      br

      .punch.glass(ng-click='vm.message()') draw

      .punch-orange.glass(ng-click='vm.message()')
        | Battle

      //- button.btn.btn-default.btn-special(ng-click='vm.message()') Battle

      br
      br

      button.btn.btn-default.btn-sm Battle
      button.btn.btn-default.btn-md Battle
      button.btn.btn-default.btn-lg Battle

      br
      br


      button.btn.btn-primary.btn-sm Battle
      button.btn.btn-primary.btn-md Battle
      button.btn.btn-primary.btn-lg Battle

      br
      br

      button.btn.btn-warning.btn-sm Battle
      button.btn.btn-warning.btn-md Battle
      button.btn.btn-warning.btn-lg Battle

      br
      br



      button.btn.btn-info.btn-sm Battle
      button.btn.btn-info.btn-md Battle
      button.btn.btn-info.btn-lg Battle

      br
      br


      button.btn.btn-success.btn-sm Battle
      button.btn.btn-success.btn-md Battle
      button.btn.btn-success.btn-lg Battle

      br
      br



      button.btn.btn-danger.btn-sm Battle
      button.btn.btn-danger.btn-md Battle
      button.btn.btn-danger.btn-lg Battle

      br