div(wrap-controller='', ng-class='{ animate: vm.animate }')




  //- .input-group-btn.input-group-year
  //-   button.btn.btn-default.dropdown-toggle(type='button')
  //-     span COMMON.TERM.YEAR_N
  //-     span.sr-only Toggle Dropdown
  //-     .pull-right
  //-       span.caret
  //-     .clearfix
  //-   ul.dropdown-menu
  //-     li
  //-       a test
  //-     li
  //-       a test
        
  //- ul.btn-group
  //-   li.dropdown
  //-     a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
  //-       | Dropdown 
  //-       span.caret
  //-     ul.dropdown-menu
  //-       li
  //-         a(href='#') Action
  //-       li
  //-         a(href='#') Another action
  //-       li
  //-         a(href='#') Something else here
  //-       li.divider(role='separator')
  //-       li.dropdown-header Nav header
  //-       li
  //-         a(href='#') Separated link
  //-       li
  //-         a(href='#') One more separated link

  //- intro
  //- scp-intro

  //- header
  //- scp-header

  //- container
  .content

    //- page content
    .page-content-wrapper
      .container
        #api-content.animate-fade-up(ui-view='')
        //- .row
        //-   .col-md-3.hidden-sm.hidden-xs(role='complementary')
        //-     scp-treeview

        //-   .col-md-7(role='main')
        //-     #api-content.animate-fade-up(ui-view='')

        //-   .col-md-2.hidden-sm.hidden-xs(role='complementary')
        //-     scp-table-of-contents(ref-id='api-content')